# Data Preprocessing Step

Here we implement all possible data preprocessing utils that are going to be used before feature extraction

### Data fields:
- Id
- ResidentStatus
- Education1989Revision
- Education2003Revision
- EducationReportingFlag
- MonthOfDeath
- Sex
- AgeType
- Age
- AgeSubstitutionFlag
- AgeRecode52
- AgeRecode27
- AgeRecode12
- InfantAgeRecode22
- PlaceOfDeathAndDecedentsStatus
- MaritalStatus
- DayOfWeekOfDeath
- CurrentDataYear
- InjuryAtWork
- MannerOfDeath
- MethodOfDisposition
- Autopsy
- ActivityCode
- PlaceOfInjury
- Icd10Code
- CauseRecode358
- CauseRecode113
- InfantCauseRecode130
- CauseRecode39
- NumberOfEntityAxisConditions
- NumberOfRecordAxisConditions
- Race
- BridgedRaceFlag
- RaceImputationFlag
- RaceRecode3
- RaceRecode5
- HispanicOrigin
- HispanicOriginRaceRecode

In [61]:
import sqlite3
import numpy as np
import pandas as pd

In [62]:
skipcols = (6, 15, 18, 20, 21, 24)
usecols = [n for n in range(38) if n not in skipcols]

In [66]:
?pd.read_csv

In [67]:
pd_data = pd.read_csv('data/DeathRecords.csv', index_col=0)

In [71]:
pd_data.shape

(2631171, 37)

In [74]:
pd_data

,ResidentStatus,Education1989Revision,Education2003Revision,EducationReportingFlag,MonthOfDeath,Sex,AgeType,Age,AgeSubstitutionFlag,AgeRecode52,...,CauseRecode39,NumberOfEntityAxisConditions,NumberOfRecordAxisConditions,Race,BridgedRaceFlag,RaceImputationFlag,RaceRecode3,RaceRecode5,HispanicOrigin,HispanicOriginRaceRecode
Id,,,,,,,,,,,,,,,,,,,,,
1,1,0,2,1,1,M,1,87,0,43,...,24,1,1,1,0,0,1,1,100,6
2,1,0,2,1,1,M,1,58,0,37,...,21,3,3,1,0,0,1,1,100,6
3,1,0,7,1,1,F,1,75,0,41,...,28,2,2,1,0,0,1,1,100,6
4,1,0,6,1,1,M,1,74,0,40,...,22,3,3,1,0,0,1,1,100,6
5,1,0,3,1,1,M,1,64,0,38,...,21,1,1,1,0,0,1,1,100,6
6,1,0,5,1,1,F,1,93,0,44,...,37,5,5,1,0,0,1,1,100,6
7,1,0,4,1,1,M,1,82,0,42,...,21,4,3,1,0,0,1,1,100,6
8,1,0,4,1,1,M,1,55,0,37,...,21,2,2,2,1,0,3,2,100,7
9,1,0,3,1,1,F,1,86,0,43,...,37,1,1,1,0,0,1,1,100,6
10,1,0,3,1,1,M,1,23,0,30,...,40,3,3,1,0,0,1,1,100,6
11,1,0,3,1,1,F,1,79,0,41,...,22,2,2,1,0,0,1,1,100,6
12,1,0,2,1,1,M,1,86,0,43,...,37,2,2,1,0,0,1,1,100,6
13,1,0,4,1,1,F,1,85,0,43,...,22,5,5,1,0,0,1,1,100,6
14,1,0,3,1,1,F,1,84,0,42,...,8,2,2,1,0,0,1,1,100,6
15,1,0,3,1,1,F,1,66,0,39,...,8,3,3,1,0,0,1,1,100,6
16,1,0,4,1,1,F,1,70,0,40,...,21,8,7,3,0,0,2,3,100,8
17,1,0,6,1,1,F,1,92,0,44,...,22,7,7,1,0,0,1,1,100,6
18,1,0,5,1,1,F,1,82,0,42,...,21,2,2,28,0,0,2,4,100,8
19,1,0,1,1,1,M,1,83,0,42,...,28,7,7,1,0,0,1,1,100,6
20,1,0,3,1,1,F,1,84,0,42,...,13,6,5,2,0,0,3,2,100,7
21,2,0,3,1,1,M,1,80,0,42,...,21,4,3,3,0,0,2,3,100,8
22,1,0,8,1,1,M,1,66,0,39,...,11,1,1,1,0,0,1,1,100,6
23,2,0,3,1,1,F,1,73,0,40,...,21,2,2,1,0,0,1,1,100,6
24,1,0,7,1,1,F,1,51,0,36,...,9,2,2,1,0,0,1,1,100,6
25,1,0,4,1,1,M,1,20,0,30,...,40,3,3,1,0,0,1,1,100,6
26,1,0,7,1,1,M,1,45,0,35,...,40,3,3,1,0,0,1,1,100,6
27,1,0,7,1,1,M,1,71,0,40,...,21,2,2,7,0,0,2,4,100,8
28,1,0,3,1,1,F,1,46,0,35,...,30,1,1,3,0,0,2,3,100,8
29,1,0,2,1,1,M,1,78,0,41,...,6,7,7,1,0,0,1,1,100,6
30,1,0,2,1,1,M,1,72,0,40,...,36,1,1,1,0,0,1,1,100,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2631142,3,0,1,1,12,M,1,69,0,39,...,41,7,7,2,0,0,3,2,100,7
2631143,3,0,9,1,12,M,1,61,0,38,...,15,2,2,1,0,0,1,1,998,9
2631144,3,0,9,1,11,M,1,66,0,39,...,21,3,3,4,0,0,2,4,100,8
2631145,3,0,9,1,12,M,1,58,0,37,...,21,4,4,2,0,0,3,2,998,9
2631146,4,0,9,1,7,M,1,45,0,35,...,36,1,1,2,0,1,3,2,998,9
2631147,3,0,6,1,12,M,1,73,0,40,...,8,1,1,2,0,0,3,2,100,7
2631148,3,0,1,1,12,F,5,21,0,2,...,33,2,2,2,0,0,3,2,998,9
2631149,3,0,1,1,12,M,5,6,0,2,...,33,1,1,2,0,0,3,2,100,7
2631150,3,0,9,1,12,F,1,68,0,39,...,8,2,2,2,0,1,3,2,998,9
2631151,3,0,9,1,12,M,1,66,0,39,...,21,4,4,1,0,0,1,1,998,9
2631152,3,0,1,1,11,M,1,55,0,37,...,15,3,3,2,0,0,3,2,998,9
2631153,3,0,1,1,11,M,1,85,0,43,...,16,3,3,2,0,0,3,2,998,9
2631154,4,0,9,1,12,M,1,57,0,37,...,36,1,1,2,0,0,3,2,100,7
2631155,3,0,9,1,12,M,1,73,0,40,...,21,3,3,2,0,1,3,2,998,9
2631156,3,0,1,1,12,M,4,3,0,5,...,33,2,1,4,0,0,2,4,100,8
2631157,3,0,1,1,9,F,5,3,0,2,...,33,1,1,2,0,0,3,2,100,7
2631158,3,0,9,1,12,M,1,61,0,38,...,21,3,3,2,0,0,3,2,998,9
2631159,3,0,9,1,11,F,1,90,0,44,...,21,2,2,2,0,1,3,2,998,9
2631160,3,0,4,1,11,M,1,85,0,43,...,21,4,4,1,0,0,1,1,100,6
2631161,3,0,1,1,12,M,5,2,0,2,...,33,1,1,2,0,0,3,2,998,9
2631162,3,0,9,1,12,M,1,90,0,44,...,21,2,2,1,0,0,1,1,998,9
2631163,3,0,9,1,12,F,1,85,0,43,...,37,4,4,1,0,1,1,1,998,9
2631164,3,0,1,1,11,M,1,79,0,41,...,21,4,4,1,0,0,1,1,299,5
2631165,3,0,9,1,12,M,1,67,0,39,...,16,4,4,2,0,0,3,2,998,9
2631166,3,0,9,1,12,M,1,54,0,36,...,27,4,4,78,1,0,2,4,998,9
2631167,3,0,6,1,12,M,1,84,0,42,...,20,4,4,1,0,0,1,1,100,6
2631168,3,0,9,1,12,F,1,74,0,40,...,21,2,2,1,0,1,1,1,998,9
2631169,3,0,1,1,12,M,6,7,0,1,...,33,2,1,1,0,1,1,1,998,9
2631170,4,0,9,1,2,M,1,49,0,35,...,21,5,5,2,0,0,3,2,998,9
2631171,3,0,1,1,5,M,6,39,0,1,...,33,2,1,2,0,0,3,2,100,7

In [91]:
# Eduction category


def education_category_89(category):
    if category <= 0:
        return 0
    elif category <= 8:
        return 1
    elif category <= 11:
        return 2
    elif category <= 12:
        return 3
    elif category <= 15:
        return 4
    elif category <= 16:
        return 5
    elif category <= 17:
        return 6
    else:
        return 0

def education_category_03(category):
    if category == 5:
        return 4
    elif category == 6:
        return 5
    elif category == 7 or category == 8:
        return 6
    elif category == 9:
        return 0
    else:
        return category
    

def education_category(record_type, category89, category03):
    print(record_type, category89, category03)
    if record_type == 0:
        return education_category_89(category89)
    if record_type == 1:
        return education_category_03(category03)

In [92]:
education_categories = pd_data.apply(
    lambda x: education_category(x['EducationReportingFlag'],
                                 x['Education1989Revision'],
                                 x['Education2003Revision']))

IndexError: ('EducationReportingFlag', 'occurred at index ResidentStatus')